*{
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    box-sizing: border-box;
    a{
        text-decoration: none;
        color: black;
    }
    h2{
        font-size: 32px;
        font-weight: 500;
        line-height: 38px;
        text-align: center;
    }
    ul{
        margin-block-start: 0;
        margin-block-end: 0;
    }
    li{
        list-style: none;
    }
    button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
      }
}

.container{
    max-width: 100%;
    padding: 0 3em;
    margin: 0 auto;
}

html, body {
    width:100%;
}

.line {
    width: 0;
    background-color: #34547A;
    height: 10px;
    position: fixed;
    left: 0;
    top: 0;
    transition: .3s all;
 }

/*==============Появление объекта при скролле=============*/
.anim-off{
    transform: translate(0px, 20%);
    opacity: 0;
    transition: all 0.6s ease 0s;
}
._activeImg{
    transform: translate(0px, 0px);
    opacity: 1;
}
._activeJs{
    opacity: 1;
}
/*==============button=============*/
#button {
    display: inline-block;
    background-color: #4a78b1;
    text-align: center;
    border-radius: 7px;
    position: fixed;
    top: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    padding: 10px 20px;
  }
  #button::after {
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
}

main{
        background-color: #EEEFF1;
        align-items: center;
    nav{
        .nav-button{
            display: none;
            position: absolute;
            right: 10vw;
        }
        .container{
        background-color: #074693;
        .navigation{
            padding: 1em 0 1em 0 ;
            display: grid;
            grid-template-columns: 38% 62%;
            text-align: center;
        .nav-img{
            height: 40px;
        }
        .nav-items{
            ul{
            display: grid;
            grid-template-columns: 1.2fr 1.3fr 1fr 1fr;
            }
        }
        }
        }
    }

    .main-center{
       margin-top: 10vh;
       padding-top: 15vh;
       margin-left: 10% auto;
       display: grid;
       grid-template-columns: 40% 60%;
       padding-bottom: 25vh;
       h1{
           font-size: 3rem;
       }
       h3{
           margin-top: 1.3em;
           color: #727272;
       }
       button{
           background-color: #34547A;
           border: 0;
           color: #fff;
           padding: 10px 15px;
           margin-top: 10%;
           margin-left: 23%;
           cursor: pointer;
       }
       .main-center-img{
        margin-right: 4vw;
       }
}
}
.aboutMe{
    h2{
        font-size: 32px;
        padding-top: 15vh;
        text-align: center;
    }
    h3{
        color:#727272;
        max-width: 40%;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 15vh;
        margin-top: 5vh;
    }
    .aboutMe-footer{
        background-color: #34547A;
        padding: 30px 20px;
        .aboutMe-footer-img{
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
        }
    }
}
     
.mySkills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 55vh);   
    .mySkills-text{
        margin: 6vh 17vw auto;
        h2{
            margin-bottom: 1vh;
        }
    }
    .mySkills-img{
        margin-top: 15vh;
    }
    li{
        display: list-item;
        list-style: none;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
}

.skill-bar{
    height: 20px;
    background-color: #696969;
    border-radius: 8px;
}

.skill-per{
    position: relative;
    height: 20px;
    background: linear-gradient(to left, #074693, #520e7f);
    box-shadow: 0 3px -5px #074693, 0 2px 5px #074693;
    border-radius: 8px;
    width: 1px;
    opacity: 0;
    transition: 1.7s linear;
}

.skill-per .value{
    position: absolute;
    background-color: #fff 0;
    color: #bbbbbb;
    padding: 35px 6px;
    right: 0px;
    top: -35px;
}

.how-working{
    background-color: #EEEFF1;
    .container{
        padding-top: 6vh;
        text-align: center;
        justify-content: center;
        h2{
            margin-left: 33% auto;
            margin-bottom: 2vh;
        }
        p{
            color: #727272;
        }
        .how-working-img{
            padding: 5% 22%;
        }
    }
}

.work{
    li{
        list-style-type: none;
        margin: 0;
    }
    .first-section{
        padding-top: 0;
        padding: 0;
        margin: 0;
        display: flex;
        img{
            width: 100%;
        }
    }
    .second-section{
        padding: 0;
        margin: 0;
        display: flex;
        img{
            width: 100%;
        }
    }
}

.contacts{
    background-color: #EEEFF1;
    h2{
        padding: 4vh 0 4vh 0;
    }
    p{
        text-align: center;
        margin: 0 auto; 
        width: 40%;
        margin-bottom: 4vh;
    }
}

footer{
    display: flex;
    background-color:  #34547A;
    p{
        margin: 0;
        font-size: 21px;
        color: #fff;
    }
    a{
        margin: 0;
        font-size: 16px;
        color: #fff;
    }
}


/*===================Кнопки навигации===================*/
.close {
    visibility: hidden;
    width: 30px;
    height: 30px;
    --weight: 3px;
    --aa: 1px; /* anti-aliasing */
    --color: rgb(0, 0, 0);
    border-radius: 3px;
    background:
      linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
      linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
}

.active span, 
.active:after, 
.active:before{
    display: block;
    height: 4px;
    width: 100%;
    position: absolute;
    background: #EEEFF1;
    margin: 0 auto;
}
.active span{
    top: 12.5px;
}
.active:after, .active:before{
    content: '';
}
.active:after{
    bottom: 2px;
}
.active:before{
    top: 2px;
}